# Modelos pesados y resultados
models/colorization_release_v2.caffemodel
imgs/*_gray.jpg
imgs_out/I*.png
imgs_out/I*.jpg
imgs_out/I*.jpeg
scripts/colorize_dnn.py
# Notebooks/py cache
.ipynb_checkpoints/
__pycache__/
# SO basura
.DS_Store
Thumbs.db
